<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        #banner {
            height: 360px;
            width: 100%;
            object-fit: cover;
        }

        .mt-4{
            margin-top: 16px!important;
        }

        .mb-4 {
            margin-bottom: 16px!important;
        }

        .mt-2 {
            margin-top: 8px!important;
        }
    </style>
</head>
<body>
    <h1 class="text-center mt-2 mb-4">Job</h1>
    <img src="/static/banner.jpg" class="img-responsive" id="banner" alt="banner image">
    <div class="container">
        <div>
            <h2 class="text-center mt-2 mb-4">About SPa</h2>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit 
                anim id est laborum.
            </p>
        </div>
        <div>
            <h2 class="text-center">Job Vacancies</h2>
            <p class="lead">TODO - Show the list of opening positions</p>
        </div>
        <div class="text-center">
            <button class="btn btn-primary btn-lg active">Contact Us</button>
            <p class="mt-4">Copyright SPa&copy;2023</p>
        </div>
    </div>
</body>
</html>